<comms-loader *ngIf="loading$ | async"></comms-loader>
<div class="container-fluid" *ngIf="!(loading$ | async)">

	<div class="row">
		<div class="col-xs-12">
			<comms-card padding="7">
				<div class="row">
					<div class="col-xs-2">
						<div class="btn-group" dropdown>
							<button type="button"
								dropdownToggle
								class="btn btn-primary btn-fill dropdown-toggle">
								<i class="ti-write"></i>
								Realizar reporte
								<span class="caret"></span>
							</button>
							<ul *dropdownMenu class="dropdown-menu">
								<li>
									<a routerLink="/comms/reports/create" [queryParams]="{type: 'GENERATION'}" class="dropdown-item">
										Generación
									</a>
								</li>
								<li>
									<a routerLink="/comms/reports/create" [queryParams]="{type: 'DISTRIBUTION'}" class="dropdown-item">
										Distribución y Subestaciones
									</a>
								</li>
								<li>
									<a routerLink="/comms/reports/create" [queryParams]="{type: 'PSFV'}" class="dropdown-item">
										Parques Solares
									</a>
								</li>
							</ul>							
						</div>
					</div>
	
					<div class="col-xs-10" *ngIf="!detailsShown">
						<div class="row">
							<div class="col-xs-6 col-xs-offset-6">
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="ti-calendar"></i>
										</div>
									</div>
									<input 
										type="text"
										class="form-control border-input"
										id="inlineFormInputGroup" placeholder="Buscar por fecha..."
										name="date"								
										bsDatepicker 
										[bsConfig]="bsDatepickerConfig"
										[(ngModel)]="searchDate"
										(ngModelChange)="search($event)">
									<div class="input-group-append cur-pointer" 
										(click)="search(null)">
										<div class="input-group-text">
											<i class="ti-close"></i>
										</div>
									</div>
								</div>	
							</div>							
						</div>
					</div>
				</div>
			</comms-card>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12" *ngIf="!detailsShown">
			<comms-card>
				<comms-card-header
					title="Reportes">						
				</comms-card-header>
				<comms-card-body>

					<ul class="list-group">
						<button 
							*ngFor="let report of filteredData"								
							class="list-group-item list-group-item-action"
							(click)="showDetails(report)">
							<i class="ti-clipboard"></i>
							Reporte del: <strong>{{ report.date | date:'dd/MM/yyyy' }}</strong>
						</button>
						<li *ngIf="filteredData.length === 0" class="list-group-item text-center">
							No hay datos para mostrar
						</li>
					</ul>
					
				</comms-card-body>
			</comms-card>
		</div>

		<div class="col-xs-12" *ngIf="detailsShown">
			<comms-card>
				<comms-card-header
					[title]="'Detalles del reporte del día ' + (selectedReport.date | date:'dd/MM/yyyy')">
					<button 
						type="button"
						tooltip="Cerrar"
						class="btn btn-xs btn-fill btn-danger"
						(click)="hideDetails()">
						<i class="ti-close"></i>
					</button>
				</comms-card-header>
				<comms-card-body>

					<comms-communication-report-details
						[selectedReport]="selectedReport"></comms-communication-report-details>

				</comms-card-body>
			</comms-card>
		</div>
	</div>
</div>
