<div class="container-fluid" *ngIf="reports$ | async as allReports; else loading">

	<div class="row">
		<div class="col-xs-12">
			<comms-card padding="7">
				<div class="row">
					<div class="col-xs-2">
						<a routerLink="/comms/reports/create"
							class="btn btn-primary btn-fill">
							<i class="ti-write"></i>
							Realizar reporte
						</a>
					</div>
	
					<div class="col-xs-10">
						<input type="text" class="form-control border-input" placeholder="Buscar...">					
					</div>
				</div>
			</comms-card>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12" *ngIf="!detailsShown">
			<comms-card>
				<comms-card-header
					title="Reportes">						
				</comms-card-header>
				<comms-card-body>

					<ul class="list-group">
						<button 
							*ngFor="let report of getIterableData(allReports)"								
							class="list-group-item list-group-item-action"
							(click)="showDetails(report)">
							<i class="ti-clipboard"></i>
							Reporte del: <strong>{{ report.date | date:'dd/MM/yyyy' }}</strong>
						</button>						
					</ul>
					
				</comms-card-body>
			</comms-card>
		</div>

		<div class="col-xs-12" *ngIf="detailsShown">
			<comms-card>
				<comms-card-header
					[title]="'Detalles del reporte del día ' + (selectedReport.date | date:'dd/MM/yyyy')">
					<button 
						type="button"
						tooltip="Cerrar"
						class="btn btn-xs btn-fill btn-danger"
						(click)="hideDetails()">
						<i class="ti-close"></i>
					</button>
				</comms-card-header>
				<comms-card-body>

					<comms-communication-report-details
						[selectedReport]="selectedReport"></comms-communication-report-details>

				</comms-card-body>
			</comms-card>
		</div>
	</div>
</div>
<ng-template #loading>
	<comms-loader></comms-loader>
</ng-template>